@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}
button{
    padding: 30px;
    font-size: 1.2em;
}
a{
    padding: 10px;
    background-color: rgb(138, 43, 226);
    color: white;
    text-decoration: none;
    border-radius: 18px;
}
a:hover{
    background-color: rgb(46, 15, 74);
}